{% extends "layouts/base.html" %}
{% load static %}
{% block title %}
    {{ title }}
{% endblock title %}
{% block content %}
    <section class="content__page content__blog">
        <!-- contenido de blog -->
        <header class="blog__header">
            <h1 class="blog__title">Blog</h1>
        </header>
        <section class="blog__articles">
            {% if entradas %}
                {% for entrada in entradas %}
                    <article class="articles__article">
                        <div class="article__top">
                            <div class="article__category">
                                {% for category in entrada.categories.all %}{{ category }}{% endfor %}
                            </div>
                            <a href="{% url 'blog' entrada.id entrada.title|slugify %}"
                               class="article__image-link">
                                <div class="article__mark">
                                    <img src="{{ entrada.image.url }}"
                                         class="article__image"
                                         alt="{{ entrada.title }}" />
                                </div>
                                <div class="article__logo">
                                    <i class="article__icon fa-solid fa-book"></i>
                                </div>
                            </a>
                        </div>
                        <div class="article__botton">
                            <time class="article__date" datetime="2024-08-12">{{ entrada.published_date }}</time>
                            <a href="#" class="article__link">
                                <h3 class="article__title">{{ entrada.title }}</h3>
                            </a>
                        </div>
                    </article>
                {% endfor %}
            {% else %}
                <p class="articles__info">No hay articulos que mostrar...</p>
            {% endif %}
        </section>
    </select>
{% endblock content %}
