{% extends "layouts/base.html" %}
{% block title %}
    {{ title }}
{% endblock title %}
{% block content %}
    <section class="content__page content__about ">
        <h1 class="about__title">Formuluario</h1>
        <form method="post" class="contact__form">
            {% csrf_token %}
            <div class="form__container form__about">
                <section class="form__lef">
                    <div class="form__group">
                        <input type="text" class="form__input" name="name" placeholder="Nombre" />
                        <label for="name" class="form__label">Nombre</label>
                    </div>
                    <div class="form__group">
                        <input type="text" class="form__input" name="subject" placeholder="Asunto" />
                        <label for="subject" class="form__label">Persona / Empresa</label>
                    </div>
                    <div class="form__group">
                        <input type="email" class="form__input" name="email" placeholder="Email" />
                        <label for="mail" class="form__label">Email</label>
                    </div>
                    <div class="form__group">
                        <input type="file" class="form__input" name="foto" placeholder="Foto" />
                        <label for="foto" class="form__label">Foto</label>
                    </div>
                </section>
                <section class="form__right">
                    <div class="form__group form__group--textarea">
                        <textarea class="form__input form__input--textarea"
                                  name="messege"
                                  placeholder="Mensaje"></textarea>
                        <label for="message" class="form__label">Mensaje</label>
                    </div>
                </section>
            </div>
            <input type="submit" class="form__btn" value="Enviar Mensaje" />
        </form>
    </section>
{% endblock content %}
